---
layout: archive
permalink: /categories/
title: "Posts by Category"
author_profile: true
---

{% include base_path %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign filtered_posts = site.posts | where_exp: "item", "item.hidden != true" %}
{% include group-by-array collection=filtered_posts field="categories" %}

{% comment %} 在 taxonomy__index 外层添加与 archive__item 相同的容器 {% endcomment %}
<div class="{{ include.type | default: 'list' }}__item"> <!-- 与 archive__item 相同的父容器 -->
  <ul class="taxonomy__index">
    {% for category in group_names %}
      <li>
        <a href="#{{ category | slugify }}">
          <strong>{{ category }}</strong> <span class="taxonomy__count">{{ group_items[forloop.index0] | size }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <section id="{{ category | slugify }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ category }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in posts %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
  </section>
{% endfor %}


