<div class="copyright" >
  {% assign current = site.time | date: '%Y' %}
  {% assign since = site.since | downcase %}
  &copy; {% if site.since and since != current %} {{ since }} - {% endif %}
  <span itemprop="copyrightYear">{{ current }}</span>
  <span class="with-love">
    <i class="fa fa-{{ site.authoricon }}"></i>
  </span>
  <span class="author" itemprop="copyrightHolder">{{ site.author }}</span>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>