<div class="copyright" >
  {% assign current = site.time | date: '%Y' %}
  {% assign since = site.since | downcase %}
  &copy; {% if site.since and since != current %} {{ since }} - {% endif %}
  <span itemprop="copyrightYear">{{ current }}</span>
  <span class="with-love">
    <i class="fa fa-{{ site.authoricon }}"></i>
  </span>
  <span class="author" itemprop="copyrightHolder">{{ site.author }}</span>
</div>
<style>
.text-popup {
    animation: textPopup 1s;
    color: #666666;
    user-select: none;
    white-space: nowrap;
    position: absolute;
    z-index: 99;
}
@keyframes textPopup {
    0%, 100% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);    
    }
}
</style>
<script>
  var fnTextPopup = function (arr, options) {
    // arr参数
    if (!arr || !arr.length) {
        return;    
    }
    // 主逻辑
    var index = 0;
    document.documentElement.addEventListener('click', function (event) {
        var x = event.pageX, y = event.pageY;
        var eleText = document.createElement('span');
        eleText.className = 'text-popup';
        this.appendChild(eleText);
        if (arr[index]) {
            eleText.innerHTML = arr[index];
        } else {
            index = 0;
            eleText.innerHTML = arr[0];
        }
        // 动画结束后删除自己
        eleText.addEventListener('animationend', function () {
            eleText.parentNode.removeChild(eleText);
        });
        // 位置
        eleText.style.left = (x - eleText.clientWidth / 2) + 'px';
        eleText.style.top = (y - eleText.clientHeight) + 'px';
        // index递增
        index++;
    });    
  };
fnTextPopup(['Python', 'C', 'JavaScript', 'PHP', 'Ruby', 'Java', 'Objective-C', 'C#', 'C++', 'MATLAB']);