/* ==========================================================================
   NOTICE TEXT BLOCKS
   ========================================================================== */

/**
 *  Default Kramdown usage (no indents!):
 *  <div class="notice" markdown="1">
 *  #### Headline for the Notice
 *  Text for the notice
 *  </div>
 */

$notice-font-size: 0.9em !default;

@mixin notice($notice-color) {
  margin: 2em 0 !important;
  padding: 1em;
  font-size: $notice-font-size !important;
  text-indent: initial;
  
  background-color: rgba($notice-color, 0.1);
  
  border-radius: $border-radius;
  box-shadow: 0 1px 1px rgba($notice-color, 0.25);
  
  color: var(--global-text-color);

  h4 {
    margin-top: 0 !important;
    margin-bottom: 0.75em;
    line-height: inherit;
    color: $notice-color;
  }

  @at-root .page__content #{&} h4 {
    margin-bottom: 0;
    font-size: 1em;
  }

  p {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  h4 + p {
    margin-top: 0;
    padding-top: 0;
  }

  a {
    color: $notice-color;
    text-decoration: underline;
    &:hover {
      color: mix(#000, $notice-color, 20%);
    }
  }

  // code {
  //   background-color: rgba($notice-color, 0.15);
  // }
  //
  // pre code {
  //   background-color: inherit;
  // }

  ul {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.notice, .markdown-alert {
  @include notice($light-gray);
}

.notice--primary, .markdown-alert-important {
  @include notice($primary-color);
}

.notice--info, .markdown-alert-note {
  @include notice($info-color);
}

.notice--warning, .markdown-alert-warning {
  @include notice($warning-color);
}

.notice--success, .markdown-alert-tip {
  @include notice($success-color);
}

.notice--danger, .markdown-alert-caution {
  @include notice($danger-color);
}
